body {
  background-color: #f5f5f5;
}

.logo {
  width: 50px;
  margin-top: 7px;
  margin-left: 10px;
}

.user-card-header {
  button {
    color: white;
    span:hover {
      color: gray;
    }
  }
}

.paginator-style {
  li {
    border-radius: 0 !important;
    background-color: white;
    a {
      background-color: white;
      border-radius: 0;
    }
  }
}
