body {
  background-color: #f5f5f5;
  margin: 0;
}

.logo {
  width: 50px;
  margin-top: 7px;
  margin-left: 10px;
}

.user-card-header {
  button {
    color: white;
    span:hover {
      color: gray;
    }
  }
}

.paginator-style {
  li {
    border-radius: 0 !important;
    background-color: white;
    a {
      background-color: white;
      border-radius: 0;
    }
  }
}

.room-title {
  margin: 10px 20px;
  font-size: 36px;
  text-decoration: underline;
}

.room-params {
  font-weight: bold;
  margin: 15px 20px;
  span {
    font-weight: normal;
  }
}

.single-page-button {
  margin: 10px;
  border-radius: 0;
}

.list-item-features {
  border: none !important;
  margin: 0;
  padding: 0 20px !important;
}

.room-description {
  margin-top: 50px;
}

.room-params-item {
  margin-right: 5px;
}

.room-description-title {
  font-weight: bold;
}

.ant-modal-content {
  border-radius: 0 !important;
}
.ant-modal-footer {
  button {
    border-radius: 0 !important;
  }
}
